<div class="card" style="width: 75%;margin: 0 auto;">
    <div class="card-header">
    <nav class="navbar" >
    <nav class="navbrand-bar h4" >
      {{pageTitle}}
    </nav>
  </nav>
  </div>
    <div class="card-body">
      <div class="container-fluid">
        
        <div class="text-center">
          <img src="./assets/logo.png"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Rockstar International</h3>
        </div>
  
        <div class="text-center">@Rockstar Games</div>
        <div class="text-center">
          <a href="https://www.rockstargames.com/de">www.bit.ly/Rockstar games</a>
        </div>
      </div>
    </div>
  </div>
