<div class="card" style="margin: 0 auto;width: 50%;">
    <div class="card-header">
        <nav class="navbar navbar-light">
            <nav class="navbrand-bar h4"> {{pageTitle + ' : ' + bikeReg.name}}</nav>
        </nav>
    </div>

    <div class="card-body">
        <form novalidate (ngSubmit)="updateRegistration(bikeReg.id, bikeForm)" [formGroup]="bikeForm">
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label">Character Name</label>
                <div class="col-md-8">
                    <div class="form-control"> {{bikeReg.name}} </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="email">Email</label>
                <div class="col-md-8">
                    <input class="form-control" id="email" type="email" formControlName='email'
                        [ngClass]="{'is-valid': (bikeForm.get('email').touched || 
                             bikeForm.get('email').dirty) && !bikeForm.get('email').valid}" [(ngModel)]='bikeReg.email' /> 

                             <span class="invalid-feedback">
                                <span *ngIf="bikeForm.get('email').errors?.required">
                                  Please enter your email address.
                                </span>
                                <span *ngIf="bikeForm.get('email').errors?.email">
                                  Please enter a valid email address.
                                </span>
                              </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label" for="phone">Phone</label>

                <div class="col-md-8">
                    <input class="form-control" id="phone" formControlName='phone'
                    [ngClass]="{'is-valid': (bikeForm.get('phone').touched || bikeForm.get('phone').dirty) &&
                
                        bikeForm.get('phone').valid}" type="number" [(ngModel)]="bikeReg.phone" />

                    <span class="invalid-feedback">
                        <span *ngIf= "bikeForm.get('phone').errors?.required">
                            Please Enter your phone Number
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label">
                    Bike Model
                </label>
                <div class="col-md-8 form-control">
                    {{bikeReg.model}}
                </div>
            </div>


            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label">Serial Number</label>
                <div class="col-md-8 form-control">{{bikeReg.serialNumber }}</div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label">Purchase Price</label>
                <div class="col-md-8 form-control" > {{bikeReg.purchasePrice}}</div>
            </div>
            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                  <button class="btn btn-primary mr-3"
                          type="submit"
                          style="width:80px"
                          [title]="bikeForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                          [disabled]="!bikeForm.valid">
                    Update
                  </button>
                </div>
              </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-secondary" (click)='onBack()' style="width: 125px">
            <i class="fa fa-chevron-left"></i> Back</button>

        
        
    </div>
</div>